@inject NavigationManager Nav

<a class="show-chatbot" style="background-image:url(t017ee4aa759abc2708.png)"
href="@Nav.GetUriWithQueryParameter("chat", true)" title="洛托姆图鉴"></a>
@* <RadzenLink class="show-chatbot" Image="库库伊_Masters_Sprite_4.png" Path="@Nav.GetUriWithQueryParameter("chat", true)"></RadzenLink> *@
@if (ShowChat)
{
    <Chatbot />
}

@code {
    [SupplyParameterFromQuery(Name = "chat")]
    public bool ShowChat { get; set; }
}
