@using EasyValueToRef
@using PokemonisshoniZ.Components.Chatbot
@using PokemonisshoniZ.Components.Pages
@inherits LayoutComponentBase
@* <RadzenButton Click="TogglePanel">test</RadzenButton> *@
<RadzenComponents @rendermode=InteractiveServer/>

<RadzenLayout>

    <LayoutIsland 
        ></LayoutIsland>

    <RadzenBody class="content px-4"
                style="background:url(Image/Pokemon_Legends_Arceus_1.jpg) no-repeat 50% 0;background-size:cover;background-attachment: fixed;">
        @Body
        <ShowChatbotButton />
    </RadzenBody>
</RadzenLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    // string theme = "material3";

    string theme = "material";
    void TogglePanel()
    {
        // sidebar1Expanded = !sidebar1Expanded;
    }

    void ClickHandler(string newMessage)
    {
        theme = newMessage;
    }
    // string theme = "default";
}